---
layout: default
title:
description: "I create, therefore I am"
categories: [code, programming, make, diy]
keywords: code, programming, make, diy
image:
  feature: "https://i.imgur.com/nGXR4ZZ.jpg"
---

{% assign index = true %}
{% for post in paginator.posts %}
<article class="hentry">
  {% include article.html %}
</article><!-- /.hentry -->
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="btn">Previous</a>
    {% else %}
      <a href="{{ root_url }}{{ paginator.previous_page_path }}" class="btn">Previous</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ root_url }}{{ paginator.next_page_path }}" class="btn">Next</a>
  {% endif %}
</div><!-- /.pagination -->
